<p>schedule-demo works!</p>
<main>
  <h1>Your are just a single step away!</h1>
  <form action="">
    <h2>Schedule a Demo</h2>
    <mat-form-field appearance="outline">
      <mat-label>Enter Name:</mat-label>
      <input
        matInput
        placeholder="Name"
        type="text"
        name="name"
        placeholder="Name"
        [formControl]="name"
      />
      @if (name.value === '') {
      <mat-error>this field is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="John@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        type="email"
        name="email"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ errorMessage }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter Business Name:</mat-label>
      <input
        matInput
        type="text"
        name="business_name"
        placeholder="Business Name"
        [formControl]="businessName"
      />
      @if (businessName.value === '') {
      <mat-error>this field is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter Phone No:</mat-label>
      <input
        matInput
        type="number"
        placeholder="Phone No."
        [formControl]="phoneNo"
      />
      @if (phoneNo.value === '') {
      <mat-error>this field is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Angular forms</mat-label>
      <input matInput [matDatepicker]="picker1" [formControl]="scheduleDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
  </form>
</main>
